body{
    margin: 0;

}
h1{
    font-size: 50px;
    padding-left: 5px ;
    border-left: 5px solid;
    border-color: orangered;
    border-radius: 5px;
}
h2{
    display: block;
    padding: 50px;
    font-size: 40px;
    text-align: center;

}
h3{
    font-size: 30px;
}

.mission-2022{
    color: tomato;
}
section{
    display: flex;
    height: 200px;
    padding: 100px;
    display: flex;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.button{
    text-decoration: none;
    color: white;
    margin-top: 20px;
    width: 400;
    padding: 10px 20px;
    letter-spacing: 2px;
    background-color: tomato;
    border-radius: 5px;
}
small{
    display: block;
    padding-top: 50px;
}
.middle-1{
    display: block;
}
.become{
  margin: 1px solid;
  padding-left: 5px;
}
.flexible{
    display: flex;
    width: 22%;
    height: 50px;
}
.middle-class{
    display: flex;
    padding: 10px;
    padding-bottom: 100px;
}
#become{
    background-color: papayawhip;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
}
#increase{
    background-color: rosybrown;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
}
#do-something{
    background-color: oldlace;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
}
.coding_section{
    display: flex;
    padding-top: 250px;
    padding-bottom: 200px;
    margin: 10px;

}

.coding{
    float: left;
    width: 50%;
    margin-top: 200px;
}
.coding img{
    width: 65%;
}
.community{
    width: 50%;
    margin-top: 100px;
}
.community img{
    float: right;
    width: 65%;
}
.about-me{
    text-align: center;
}
.about-me{
    text-align: center;
    padding: 100px;
}
.about{
    color: tomato;
}
#mission2022{
    color: white;
}
#end{
    text-align: center;
    color: white;
    padding-top: -20px;
    padding-bottom: 15px;
}
footer{
    background-color: black;
}
